# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ecosystem_mindmap_MySQL/backend/node_modules
ecosystem_mindmap_MySQL/backend/dist
ecosystem_mindmap_MySQL/node_modules
ecosystem_mindmap_MySQL/.history

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

ecosystem_mindmap_MySQL/npm-debug.log*
ecosystem_mindmap_MySQL/yarn-debug.log*
ecosystem_mindmap_MySQL/yarn-error.log*
